/* ALERT BOXES START*/

.alert__area {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    animation: 0.5s ease-out 0s 1 opacityIn;
}

.alert {
    display: flex;
    align-items: center;
    width: 14rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

.danger {
    background-color: rgba(255, 0, 0, 0.7);
}

.success {
    background-color: rgba(2, 161, 2, 0.7);
}

.warning {
    background-color: rgba(255, 123, 0, 0.7);
}

.alert__logo,
.alert__body {
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: #fff;
}

.alert__logo {
    font-size: 1.4rem;
}

.alert__title {
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.alert__message {
    font-size: 0.8rem;
}

/* ALERT BOXES END*/
