/* FOOTER START */
footer {
    display: flex;
    padding: 0.5rem 10%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    animation: 0.5s ease-out 0s 1 opacityIn;
}
/* FOOTER END */
