/* HEADER START */

.nav__links_main,
a {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

header {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10%;
    align-self: flex-start;
    background-color: white;
    animation: 0.5s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.logo {
    cursor: pointer;
    height: 2rem;
}

.nav__links {
    list-style: none;
}

.nav__links .nav__links_main {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links .nav__links_main a {
    transition: all 0.3s ease 0s;
}

.avatar,
.bell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    justify-content: center;

    margin: auto;
}

.bell {
    color: #c3c3c3;
}

.round {
    border-radius: 50%;
    background-color: #ffa500;
}

.fa-bell:hover,
.round:hover {
    filter: brightness(85%);
    cursor: pointer;
}

#avatarControl {
    display: none;
}

#avatarControl + label + .drop-down-menu {
    display: none;
}

#avatarControl:checked + label + .drop-down-menu {
    display: block;
    padding: 0 1rem;
    position: absolute;
    top: 4rem;
    right: 10%;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 15px 1px rgba(110, 110, 110, 0.6);
}

.nav__links_secondary a {
    display: block;
    padding: 0.5rem;
    margin: 0.4rem;
}

.nav__links_secondary:hover {
    background-color: #dbdbdb;
}

.nav__links_secondary:first-child {
    color: #7c7c7c;
}

.nav__links_secondary:first-child:hover {
    background-color: #fff;
}

.user-name {
    border-bottom: 2px solid #7c7c7c;
    margin: 0.4rem;
    padding: 0.5rem;
}

/* HEADER END */
