/* MAIN START */
.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 0.5rem 10%;
    grid-gap: 0rem;
    width: 100%;
    height: 85vh;
    min-height: 700px;
    margin-top: 6rem;
    animation: 0.5s ease-out 0s 1 opacityIn;
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flip-box-js {
    background-color: transparent;
    grid-column: 5/9;
    grid-row: 1/7;
    perspective: 1000px;
}

.flip-box-inner-js {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-js:hover .flip-box-inner-js {
    transform: rotateX(180deg);
}

.flip-box-front-js,
.flip-box-back-js {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-js {
    background-color: yellow;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 6rem;
    font-weight: 700;
}

.flip-box-back-js {
    background-color: white;
    color: black;
    transform: rotateX(180deg);
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flip-box-qa {
    background-color: transparent;
    grid-column: 1/5;
    grid-row: 5/9;
    perspective: 1000px;
}

.flip-box-inner-qa {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-qa:hover .flip-box-inner-qa {
    transform: rotateX(-180deg);
}

.flip-box-front-qa,
.flip-box-back-qa {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-qa {
    background-color: green;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 5rem;
}

.flip-box-back-qa {
    background-color: white;
    color: black;
    transform: rotateX(-180deg);
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flip-box-logo {
    background-color: transparent;
    grid-column: 1/5;
    grid-row: 1/5;
    perspective: 1000px;
}

.flip-box-inner-logo {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-logo:hover .flip-box-inner-logo {
    transform: rotateY(180deg);
}

.flip-box-front-logo,
.flip-box-back-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-logo {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 6rem;
}

.flip-box-back-logo {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-box-front-logo > img {
    height: 10rem;
}

button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

button:hover {
    background-color: #0367d1;
    border-color: #0367d1;
    cursor: pointer;
}

.flip-box-java {
    background-color: transparent;
    grid-column: 5/9;
    grid-row: 7/9;
    perspective: 1000px;
}

.flip-box-inner-java {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-java:hover .flip-box-inner-java {
    transform: rotateY(-180deg);
}

.flip-box-front-java,
.flip-box-back-java {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-java {
    background-color: red;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 500;
}

.flip-box-back-java {
    background-color: white;
    color: black;
    transform: rotateY(-180deg);
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flip-box-php {
    background-color: transparent;
    grid-column: 9/17;
    grid-row: 1/4;
}

.flip-box-inner-php {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.flip-box-php .flip-box-front-php {
    transform: scale(1, 1);
    transition: transform 0.8s;
}

.flip-box-php:hover .flip-box-front-php {
    transform: scale(0, 0) rotate(1440deg);
}

.flip-box-front-php,
.flip-box-back-php {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-box-front-php {
    background-color: rgb(90, 90, 158);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 6rem;
    z-index: 1;
    font-style: italic;
}

.flip-box-back-php {
    background-color: white;
    color: black;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}

.flip-box-net {
    background-color: transparent;
    grid-column: 9/14;
    grid-row: 4/9;
}

.flip-box-inner-net {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.flip-box-net .flip-box-front-net {
    transform: scale(1, 1);
    transition: transform 0.8s;
}

.flip-box-net:hover .flip-box-front-net {
    transform: scale(0, 0);
}

.flip-box-front-net,
.flip-box-back-net {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-box-front-net {
    background-color: rgb(117, 26, 182);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 6rem;
    z-index: 0;
}

.flip-box-back-net {
    background-color: white;
    color: black;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: -1;
}

.flip-box-events {
    background-color: transparent;
    grid-column: 14/17;
    grid-row: 4/6;
}

.flip-box-inner-events {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-events:hover .flip-box-inner-events {
    transform: rotateY(-180deg);
}

.flip-box-events:hover .flip-box-back-events:hover {
    overflow: auto;
}

.flip-box-front-events,
.flip-box-back-events {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-events {
    background-color: rgb(168, 168, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

.flip-box-back-events {
    background-color: white;
    color: black;
    transform: rotateY(-180deg);
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flip-box-blog {
    background-color: transparent;
    grid-column: 14/17;
    grid-row: 6/8;
}

.flip-box-inner-blog {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-blog:hover .flip-box-inner-blog {
    transform: rotateX(180deg);
}

.flip-box-blog:hover .flip-box-back-blog:hover {
    overflow: auto;
}

.flip-box-front-blog,
.flip-box-back-blog {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-blog {
    background-color: rgb(103, 103, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

.flip-box-back-blog {
    background-color: white;
    color: black;
    transform: rotateX(180deg);
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flip-box-contacts {
    background-color: transparent;
    grid-column: 14/17;
    grid-row: 8/9;
}

.flip-box-inner-contacts {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-contacts:hover .flip-box-inner-contacts {
    transform: rotateY(180deg);
}

.flip-box-front-contacts,
.flip-box-back-contacts {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-box-front-contacts {
    background-color: rgb(67, 67, 252);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}

.flip-box-back-contacts {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-box-back-contacts ul {
    list-style: none;
}

.flip-box-back-contacts li {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: black;
}

.flip-box-back-contacts li:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.animation-scale-in p,
.animation-scale-in img {
    animation: 0.5s ease-out 0s 1 scaleIn;
}

@keyframes scaleIn {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* MAIN END */
