@media (max-width: 1200px) {
    html {
        font-size: 10px;
    }

    #avatarControl:checked + label + .drop-down-menu {
        top: 5.5rem;
        right: 10%;
    }

    .flip-box-back-logo p,
    .flip-box-back-js p,
    .flip-box-back-php p,
    .flip-box-back-net p,
    .flip-box-back-qa p,
    .flip-box-back-java p,
    .flip-box-back-events p,
    .flip-box-back-blog p,
    .flip-box-back-contacts p {
        font-size: 14px;
    }

    .flip-box-js {
        grid-column: 8/14;
        grid-row: 1/5;
    }

    .flip-box-logo {
        grid-column: 1/8;
        grid-row: 1/5;
    }

    .flip-box-qa {
        grid-column: 1/9;
        grid-row: 7/9;
    }

    .flip-box-java {
        grid-column: 1/9;
        grid-row: 5/7;
    }

    .flip-box-php {
        grid-column: 9/17;
        grid-row: 5/7;
    }

    .flip-box-net {
        grid-column: 9/17;
        grid-row: 7/9;
    }

    .flip-box-events {
        grid-column: 14/17;
        grid-row: 1/3;
    }

    .flip-box-blog {
        grid-column: 14/17;
        grid-row: 3/4;
    }

    .flip-box-contacts {
        grid-column: 14/17;
        grid-row: 4/5;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }

    .flip-box-back-logo p,
    .flip-box-back-js p,
    .flip-box-back-php p,
    .flip-box-back-net p,
    .flip-box-back-qa p,
    .flip-box-back-java p,
    .flip-box-back-events p,
    .flip-box-back-blog p,
    .flip-box-back-contacts p {
        font-size: 14px;
    }

    .flip-box-js {
        grid-column: 1/11;
        grid-row: 3/5;
    }

    .flip-box-logo {
        grid-column: 1/11;
        grid-row: 1/3;
    }

    .flip-box-qa {
        grid-column: 1/9;
        grid-row: 7/9;
    }

    .flip-box-java {
        grid-column: 1/9;
        grid-row: 5/7;
    }

    .flip-box-php {
        grid-column: 9/17;
        grid-row: 5/7;
    }

    .flip-box-net {
        grid-column: 9/17;
        grid-row: 7/9;
    }

    .flip-box-events {
        grid-column: 11/17;
        grid-row: 1/3;
    }

    .flip-box-blog {
        grid-column: 11/17;
        grid-row: 3/4;
    }

    .flip-box-contacts {
        grid-column: 11/17;
        grid-row: 4/5;
    }
}
